@model cw1.Models.Petition

<div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>@Model.Title</h2>
        </div>
</div>
<div class="row">
    <div class="col-lg-5 col-lg-offset-1">
        <p>@Model.Description</p>
        <p>@Model.Members.Count signatures</p>
        <ul class="list-group">
            @foreach (var m in Model.Members)
            {
                <li class="list-group-item-text">@m.Name @m.Surname</li>
                <span class="badge badge-primary badge-pill">@m.Role</span>
            }
        </ul>
        <button class="signBtn btn-danger btn-sm" id="@Model.Id">Sign</button>
    </div>
    <div class="col-lg-5">
        <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/F0A3/production/_123430616_hi074161896.jpg" />
    </div>
</div>

<style>
    img {
        width: 500px;
        height: 300px;
    }
</style>
<script>
    $(".signBtn").on("click", function () {
        var user = sessionStorage.getItem("user");
        if (user == null) {
            alert("You have to be signed in darling");
        } else {
            id = this.id;
            url = "http://localhost:57791/Home/AddMember?petitionId=" + this.id + "&username=" + user;
            window.location = url;
        }
    });
</script>