@model cw1.Models.Petition
<div class="col-lg-4">
    <!-- Pettion panel. Renders existing petitions in panel view -->
    <div id="panelId" class="panel panel-primary text-justify">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3 class="panel-title"><b><a href='@string.Format("http://localhost:57791/Home/SinglePetition?petitionId={0}", Model.Id)'>@Model.Title</a></b></h3></div>
        <div class="panel-body">
            <!-- Description -->
            <div class="row">
                <div class="col-lg-12">
                    <br />
                    <p>@Model.Description</p>
                </div>
            </div>
            <!-- Signature counter -->
            <div class="row">
                <div class="col-lg-3">
                    <p id="count"><b>@Model.Members.Count signatures</b></p>
                </div>
                <!-- Control buttons -->
                <div class="col-lg-1 col-lg-offset-5">
                    <button class="deleteBtn btn-danger btn-sm" id="@Model.Id">Delete</button> <!-- Delete button. Only visible to admin -->
                </div>
                <div class="col-lg-1 col-lg-offset-1">
                    <button class="signBtn btn-success btn-sm" id="@Model.Id">Sign</button> <!-- Sign button -->
                </div>
            </div>
        </div>
        <!-- List all members (signatures) -->
        <ul class="list-group">
            @foreach (var m in Model.Members)
            {
                <li class="list-group-item">@m.Name @m.Surname</li>
            }
        </ul>
    </div>
</div>
<style>
    .pet-thumbnail {
        width: 435px;
    }

    .panel-heading {
        background-color: slateblue !important;
        color: navajowhite !important;
    }
</style>
