@model cw1.Models.Petition
<link rel="stylesheet" href="~/Content/home.css" />
<style>
    .share-button {
        border-radius: 4px;
        color: white;
        padding: 1%;
        margin: 3px;
    }
    .share-button a {
        color: white;
    }
    .facebook {
        background-color: #036DE4;
    }
    .twitter {
        background-color: #1D9BF0;
    }
    .whatsapp {
        background-color: limegreen;
    }

</style>
<div class="container-fluid">
    <!-- Pettion panel. Renders existing petitions in panel view -->
    <div class="row">
        <div class="spacer"></div>
        <div class="col-lg-8 col-lg-offset-2">
            <h1><b>@Model.Title</b></h1>
            <hr />
            <h3 class="text-justify">@Model.Description</h3>
        </div>
    </div>
    <div class="row">
        <br />
            <div class="col-lg-2 col-lg-offset-2">
                <button class="signBtn btn-success btn-lg" id="@Model.Id">Sign this petition</button> <!-- Sign button -->
            </div>
        <div class="col-lg-2">
            <button class="deleteBtn btn-danger btn-lg" id="@Model.Id">Delete this petition</button> <!-- Delete button. Only visible to admin -->
        </div>
    </div>
    <div class="row">
        <br />
        <!-- Signature counter -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 id="count"><b>@Model.Members.Count signatures</b></h1>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @(Model.Members.Count)%">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <ul id="signatureNames" class="list-group">
                @foreach (var m in Model.Members)
                {
                    <li class="list-group-item">@m.Name @m.Surname</li>
                }
            </ul>
        </div>
    </div>

    <!-- share buttons -->
    <div class="row">
        <div class="col-lg-4 col-lg-offset-5">
            <h4><b>Share this petition</b></h4>
            <br />
            <a class="twitter share-button"
               href='@string.Format("https://twitter.com/intent/tweet?text={0}", Model.Title)'
               data-size="large">
                Tweet
            </a>
            <a class="facebook share-button" href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">
                Facebook
            </a>
            <a class="whatsapp share-button" href="whatsapp://send?text=Check out this petition!" target="_blank">
                Whatsapp
            </a>
            
        </div>
    </div>
</div>